/* Product Page */
.product {

	.content {
		display: grid;
		grid-template-columns: auto 30rem 30rem;

		.image {
			display:flex;
			flex: 2 1 60rem;
			justify-content: center;
			align-items: center;
			max-width: 60rem;
			width: 100%;
		}

		.details {

			article {
				display:flex;
				flex-direction: column;
				justify-content: space-between;

				h4 {
					font-size: 2.5rem;
				}

				li {
					margin: 1.5rem;
				}

				.brand, .rating {
					font-size: 1.5rem;
				}

				.brand {
					color: #808080
				}
			}
		}

		.actions {
			ul {
				border: .1rem solid #808080;
				border-radius: .5rem;
				background-color: #f8f8f8;
				padding: 1rem;
			}

			li {
				margin: 1rem;
			}

			.price {
				display: inline;
				font-size: 2.5rem;
			}

			li:last-child {
				display: flex;
				flex-direction: column;
			}

			.add-to-cart-button {
				padding: 1rem;
				border: .1rem solid #808080;
				border-radius: .5rem;
				cursor: pointer;
			}

			.add-to-cart-button:hover {
				border: .1rem solid #404040;
			}
		}
	}
}